/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2015, 5:19:28 PM
    Author     : toshiba
*/
*{margin:0;padding:0;}
//.ad li{width:406px;height:132px;background:white;color:red;list-style:none;display:none;position:absolute;padding:0 4px;}
.adImg{float:left;width:100px;height:100px;margin:20px 0;margin-right:6px;}
.adImg img{width:100%;height:100%}
.adImg img:hover{transform: scale(3,3); transition: .3s transform; width:auto;height:auto;z-index: 1000}
.adDetail{float:left;width:270px;}
.adDetail .adTitle{line-height:14px;font-size:13px;font-weight:bold;border-bottom:1px solid #000;width:100%}
.adDetail .adVendor{word-wrap: break-word;font-size:15px;}
.adDetail .adLink{word-wrap: break-word;font-size:15px;}
.adDetail .adContent{word-wrap: break-word;font-size:15px;}
