
/*热门*/
li.hot:before{
    position: absolute;
    content:'';
    width: 35px;
    height: 10px;
    left: 85px;
    background:url(../img/hot.png) no-repeat;
    background-size: 26px auto;
    -webkit-animation: autoMove .5s linear infinite alternate;
    -moz-animation: autoMove .5s linear infinite alternate;
    -ms-animation: autoMove .5s linear infinite alternate;
    -o-animation: autoMove .5s linear infinite alternate;
    animation: autoMove .5s linear infinite alternate;
}
/*文字居中*/
.text_center{
    text-align: center;
}
/*灰色字体*/
.gray{
    color: #949191;
}

/*提示信息*/
.chat-thread li.sys_info{
    width: 100%;
    font-size: 12px;
    margin-left: -16px;
    margin-top:15px;
    height: 30px;
    line-height: 15px;
    overflow: hidden;
    background:rgba(255,255,255,0);
    color: #BDBBBB;
    float:left; //临时
}
li.sys_info:before{
    border: none !important;
}
.chat-thread li.sys_info img{
    width: 13px;
    height: 13px;
    margin-right: 2px;
}
.chat_history{
    height:auto !important;
}
.oliver{
    color: green;
}
/***************动画函数*************/
/*闪动*/
@-webkit-keyframes autoMove {
    0%{top: 2px}
    50%{top: 0}
    100%{top: -2px}
}
@keyframes autoMove {
    0%{top: 2px}
    50%{top: 0}
    100%{top: -2px}
}
@-o-keyframes autoMove {
    0%{top: 2px}
    50%{top: 0}
    100%{top: -2px}
}
@-moz-keyframes autoMove {
    0%{top: 2px}
    50%{top: 0}
    100%{top: -2px}
}
@-ms-keyframes autoMove {
    0%{top: 2px}
    50%{top: 0}
    100%{top: -2px}
}
*{margin:0;padding:0;}
//.ad li{width:406px;height:132px;background:white;color:red;list-style:none;display:none;position:absolute;padding:0 4px;}
.adImg{float:left;width:100px;height:100px;margin:20px 0;margin-right:6px;}
.adImg img{width:100%;height:100%}
.adDetail{float:left;width:290px;}
.adDetail .adTitle{line-height:14px;font-size:12px;font-weight:bold;border-bottom:1px solid #000;width:100%}
.adDetail .adContent{word-wrap: break-word}
.chat-thread .threadv2{margin-top:0px;}


.edit_Con{width:536px;overflow:hidden;background:#EEEEEE;color:#111}
.edit_Con .Tits{text-align:center;font-size:14px;line-height:40px;border-bottom:1px solid #CCC;color:#111}
.edit_Con_detail{font-size:12px;line-height:20px;margin-top:30px;padding:0 30px;}
.edit_Con_detail li{list-style:none;overflow:hidden;margin-bottom:6px;width:100%;}
.edit_Con_detail li div{width:15%;float:left;}
.edit_Con_detail li input,.edit_Con_detail li textarea{width:50%;float:left;display:block;border:1px solid #BDBBBB;}
.edit_Con_detail li textarea{width:80%;height:100px;}
._detail_Others{font-size:12px;line-height:20px;margin:0 30px;}
._set_Btns{width:30%;margin:29px auto;}
._set_Btns input{width:40%;}

